/**
 * Colors Theme
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-brand-1: #BD913A;
  --vp-c-brand-2: #AE8535;
  --vp-c-brand-3: #9E7930;
}

.dark {
  --vp-c-brand-1: #CAAF50;
  --vp-c-brand-2: #C6A841;
  --vp-c-brand-3: #BA9D38;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #CAAF50 15%,
    #E6DAAE
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #3F392160 30%,
    #FFFFFF60
  );
  --vp-home-hero-image-filter: blur(30px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}
