/**
 * Colors Theme
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-brand-1: #51A8B1;
  --vp-c-brand-2: #499BA4;
  --vp-c-brand-3: #438E96;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #438E96 15%,
    #BFE0E2
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #438E9660 30%,
    #BFE0E260
  );
  --vp-home-hero-image-filter: blur(30px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}
